.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.map {
  flex: 1;
  margin: 1;
  height: 30vh;
  width: 70%;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  border-radius: 100px;
}
