.container {
  min-height: 70vh;
  min-width: 70vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.map {
  flex: 1;
  margin: 1;
  height: 30vh;
  width: 70%;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}
.subMap {
  padding: 1rem;
}
.horizontalButtonBar {
  display: block;
  padding: 1rem;
}
.navButton {
  padding: 0.5rem;
}
